body {
    font: verdana, sans-serif;
    background: #f0e5ce;
    margin: 0;
    padding: 0;
    color: #000
}

.errorlist {
    color: red;
}

.menu_link {
    margin-right: 20px;
}

.error {
    color: red;
}

.add_title {
    width: 400px;
    margin-left: 10px
}

.title_div {
    margin-bottom: 20px;
}

.add_text {
    margin-bottom: 10px
}

.login_table {
    width: 300px;
    margin-right: auto;
    margin-left: auto
}

.login_input {
    padding: 10px;
    text-align: right;
}

.send_button {
    width: 100px;
    height: 50px
}

.menu {
    height: 70px;
    font-size: 1.1em;
}

.page_menu {
    text-align: left;
    margin-bottom: 30px;
    margin-top: 10px;
    float: left;
}

.user_menu {
    text-align: right;
    margin-bottom: 30px;
    margin-top: 10px;
    float: right;
}

.content {
    float: left;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 60px;
    width: 800px;
    text-align: justify;
}

.header {
    float: left;
    margin-bottom: 10px;
}

.title {
    float: left;
    width: 560px;
    word-break: break-all;
}

.author {
    float: right;
    text-align: right;
    width: 320px;
    word-break: break-all;
}

.main {
    margin-left: auto;
    margin-right: auto;
    width: 927px;
}

.post {
    float: left;
    width: 900px;
    background-color: #FFF;
    border: 1px solid #D9CCBC;
    margin: 0 0 12px 0px;
    padding: 15px 12px 0 13px;
    border-radius: 5px
}

.messange {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 600px;
    height: 130px;
    background-color: #FFF;
    border: 1px solid #D9CCBC;
    padding: 15px 12px 0 13px;
    border-radius: 5px
}

.login {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 500px;
    background-color: #FFF;
    border: 1px solid #D9CCBC;
    padding: 15px 12px 0 13px;
    border-radius: 5px
}

hr {
    float: left;
    border: 1px solid #D9CCBC;
    width: 900px
}

a {
    color: darkblue;
    text-decoration: none
}

a:link {
    color: darkblue;
    text-decoration: none
}

a:visited {
    color: darkblue;
    text-decoration: none
}

a:hover, a:active, a:focus {
    color: grey;
    text-decoration: none
}

textarea {
    resize: vertical;
    width: 894px;
    height: 300px;
}

ul {
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 1.2em;
}

li {
    margin-bottom: 10px;
}