{% extends "base.html" %}

{% block content %}
<div class="post">
    <form action="{% url 'add_post' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="send_button" type="submit" value="Create post"/>
    </form>
    <p class="error"><strong>{{ error }}</strong></p>
</div>
{% endblock %}