{% extends "base.html" %}

{% block content %}
<div class="post">
    <ul>
        {% for u in users %}
            <li><a href="{% url 'user_posts' u.id %}">{{ u.username }}</a></li>
        {% endfor %}
        {% for t in tags %}
            <li><a href="{% url 'post_tags' t.id %}">{{ t.name }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}