{% extends "base.html" %}

{% block content %}
<form class="login" action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <h1>Log in</h1>
    <table class="login_table">
        {{ form.as_table }}
        <tr>
            <td colspan="2"  style="text-align: center;"><input type="submit" value=" Log in "/></td>
        </tr>
    </table>
    <p class="error"><strong>{{ error }}</strong></p>
</form>
{% endblock %}