{% extends "base.html" %}

{% block content %}
<form class="register" action="{% url 'register' %}" method="POST">
    {% csrf_token %}
    <h1>Register new user</h1>
    <table class="register_table">
        {{ form.as_table }}
        <tr>
            <td></td>
            <td style="text-align: left;"><input type="submit" value="Register"/></td>
        </tr>
    </table>
</form>
{% endblock %}