{% extends "base.html" %}

{% block content %}
{% for post in posts %}
<div class="post">
    <div class="header">
        <div class="title">
            <strong>{{ post.title }}</strong>
        </div>
        <div class="author">
            <i>{{ post.author.username }} - {{ post.date }}</i>
        </div>
    </div>
    <hr>
    <div class="content">
        {{ post.text }}
    </div>
    <hr>

    {% if post.tags.all %}
    <div class="tags">
        <label><strong>Tags:</strong></label>
        {% for tag in post.tags.all %}
            <a href="{% url 'post_tags' tag.id %}" style="margin-left: 20px">{{ tag.name }}</a>
        {% endfor %}
    </div>
    <hr>
    {% endif %}

    <div class="tags">
        <div class="edit">
            {% if user.is_authenticated %}
                <a href="{% url 'edit_post' post.id %}">Edit post</a>
            {% endif %}
        </div>

        <div class="edited">
            {% if post.last_edited_by %}
                <strong>Last update:&nbsp; &nbsp; </strong>
                <i> {{ post.last_edited_by }} - {{ post.last_edited_date }}</i>
            {% endif %}
        </div>

    </div>
</div>
{% endfor %}
{% endblock %}