<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8"/>
    <title>Mikroblog</title>
    <link rel="stylesheet" type="text/css" href="{% static 'microblog/style.css' %}"/>
</head>
<body>
<div class="main">
    <div class="menu">
        <div class="page_menu">
            <a href="{% url 'all_posts' %}" class="menu_link">All Posts</a>
            <a href="{% url 'choose_user' %}" class="menu_link">User Posts</a>
            {% if user.is_authenticated %}
            <a href="{% url 'add_post' %}">Add Posts</a>
            {% endif %}
        </div>
        <div class="user_menu">
            {% if user.is_authenticated %}
            <label>Hello, {{ user.first_name }} {{ user.last_name }}! </label>
            <a href="{% url 'logout' %}">Log out</a>
            {% else %}
            <a href="{% url 'login' %}">Log in</a>
            {% endif %}
        </div>
    </div>
    {% block content %}{% endblock %}
</div>
</body>
</html>

