{% extends "base.html" %}

{% block content %}
<div class="post">
    <ul>
        {% for u in users %}
            <li><a href="{% url 'user_posts' u.id %}">{{ u.username }} - {{ u.first_name }} {{ u.last_name }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}