{% extends "base.html" %}

{% block content %}
<form class="login" action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <table class="login_table">
        <tr>
            <td class="login_input">Username:</td>
            <td><input name="username" type="text"/></td>
        </tr>
        <tr>
            <td class="login_input">Password:</td>
            <td><input name="password" type="password"/></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Log in"/></td>
        </tr>

    </table>
    <p class="error"><strong>{{ error }}</strong></p>
</form>
{% endblock %}