{% extends "base.html" %}

{% block content %}
{% for post in posts %}
<div class="post">
    <div class="header">
        <div class="title">
            <strong>{{ post.title }}</strong>
        </div>
        <div class="author">
            {{ post.author.first_name }} {{ post.author.last_name }} - {{ post.date }}
        </div>
    </div>
    <hr>
    <div class="content">
        {{ post.text }}
    </div>
    <hr>

    <div class="header">
        {% for tag in post.tags.all %}
        <label style="margin-left: 20px">{{ tag.name }}</label>
        {% endfor %}
    </div>

</div>
{% endfor %}
{% endblock %}