<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8"/>
    <title>Mikroblog</title>
    <link rel="stylesheet" type="text/css" href="{% static 'microblog/style.css' %}"/>
</head>
<body>
    <div class="main">
        <div class="menu">
            <div class="page_menu">
                <a href="{% url 'all_posts' %}" class="menu_link">All Posts</a>
                <a href="{% url 'choose_user' %}" class="menu_link">User Posts</a>
                <a href="{% url 'choose_tag' %}" class="menu_link">Tags</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'add_post' %}" class="menu_link">Add Posts</a>
                    {% if user.is_superuser %}
                        <a href="{% url 'admin:index' %}">Admin Panel</a>
                    {% endif %}
                {% endif %}

            </div>
            <div class="user_menu">
                {% if user.is_authenticated %}
                    <label>Hello, {{ user.username }}! </label>
                    <a href="{% url 'logout' %}">Log out</a>
                {% else %}
                    <a href="{% url 'login' %}" class="menu_link">Log in</a>
                    <a href="{% url 'register' %}">Register</a>
                {% endif %}
            </div>
        </div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>

